# ignore datasets
/data/*.csv
/data/gh_*/
/data/knapsack_*/
# ignore current simulation data
/simulation/archive/**/results/
/simulation/logs/
/simulation/results/
/simulation/visualisations/
/simulation/visualizations/
# ignore environment files
**/.vscode/
**/.venv/
**/venv/
# ignore compiled files
**/bin/
**/__pycache__/
*backup.cpp
